.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #4b59f7;
  transition: all 0.2s ease-out;
}

/* Mobile Responsiveness */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #131313;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
}
