<!DOCTYPE html>
<link lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="accounts.google.com" async defer></script>
    
  

</head>
<link rel="stylesheet" href="ff.css">
<link href='https://cdn.boxicons.com/3.0.7/fonts/basic/boxicons.min.css' rel='stylesheet'>
<body>
    <img src="download (2).png">
    <h1>LOGIN PAGE</h1>
    <div class="container">
        
        
            <form class="hello">
                <label for="" class="name">Name</label>
               
                <input class="btn" type="text" placeholder="Type name">
                <i class='bxr  bx-contact-book'></i> 
                <BR>
                    
                       <label for="" class="name">Password</label>
                <input class="btn" type="text" placeholder="psassword">
                <i class='bx  bx-lock'></i> 
                <BR>
                     
                      <label for="" class="name">Retype pass</label>
                <input class="btn" type="text" placeholder="retytpe psassword">
                <BR>
                
                         <label for="" class="name">Address</label>
                <input class="btn" type="text" placeholder="address">
                <BR>
            <input class="name1"type="radio" value="male" >
            <label for="" class="name">Male</label>  
             <input class="name1"type="radio" value="male">
            <label for="" class="name">Female</label><br>              
            <input class="ss"type="submit" value="submit">   
            <input class="ss"type="reset" value="reset">    
            </form>
            
                
            
        </div>


</body>
</html>